<div class="navbar">
  <div class="navbar-name">
    Artist Management System
  </div>

  <div class="navbar-sections">
  <div class="navbar-home"><%= link_to "Home", '/' %></div>
  <div ><%= link_to "Users", '/user' %></div>
  <div ><%= link_to "Artists", '/artists' %></div>

  </div>
</div>